# Configuración de App
NODE_ENV = development # production

# Base de Datos
SUPABASE_URL = link_supabase
SUPABASE_KEY = llave_supabase

# Token
JWT_ACCESS_SECRET=llave_de_access_jwt
JWT_REFRESH_SECRET=llave_de_refresh_jwt
JWT_ACCESS_EXPIRES_IN=minutes # 1m
JWT_REFRESH_EXPIRES_IN=seconds # 1000

# Frontend URL (para enlaces en correos)
FRONTEND_URL=url_frontend